@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --header-height: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

*,::before,::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--normal-font-size);
  line-height: 1.6;
}

h1,h2,h3,p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  padding: 0 0 2rem 0;
}


.section-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-3);
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  text-align: center;
  font-weight: bold;
  margin-bottom: .25rem;
}

.page {
  font-family: "Cormorant Garamond", serif;
}

.page__menu {
  margin: 40px auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 30px;
  z-index: 101;
}

.toggle {
  width: 45px;
  height: 45px;
  background: white url(../image/menu.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  border-radius: 2px;
  position: relative;
}

.toggle_active {
  background-image: url(../image/close-button.svg);
  background-size: 25px;
}

.header__link {
  font-size: 28px;
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: white;
  transition: opacity .2s linear;
}

.header__link:hover {
  opacity: 0.7;
  background: #00bcd4;
}

.menu {
  display: flex;
  justify-content: center;
  min-height: 75px;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1330px;
  width: 100%;
  margin: 40px auto;
}

.menu__link {
  font-size: 18px;
  text-decoration: none;
  color: #10191e;
  margin-right: 20px;
  transition: opacity .2s linear;
}

.menu__link:hover {
  opacity: 0.7;
}

.menu__link:last-of-type {
  margin-right: 0;
}

.menu__link_active {
  text-decoration: underline;
}

.home__container {
  align-items: center;
}

.home__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  text-align: center;
}

.home {
  margin: var(--header-height);
  padding-top: 4rem;
}

.home__title {
  font-size: var(--h1-font-size);
  font-weight: 600;
}

.home__profession {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
}

.home__socail {
  margin-bottom: 5rem;
}

.home__sociacl-link {
  display: inline-flex;
  background-color: black;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: .40rem;
  margin: 0 var(--mb-1);
  transition: opacity .3s linear;
}

.home__social {
  margin-bottom: 20px;
}

.home__sociacl-link:hover {
  opacity: 0.7;
}

.home__image {
  width: 164px;
  height: 162px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: var(--mb-2);
}

.home__image img {
  width: 184px;
}

.sidebar {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 100px;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.sidebar_active {
  visibility: visible;
  opacity: 1;
  transition: .5s;
}

.sidebar ul {
  position: absolute;
  right: 0;
  top: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 350px;
  height: 350px;
  background: black;
  margin: 0;
}

.sidebar ul li {
  list-style: none;
}

.page-link {
  transition: opacity .3s linear;
}

.page-link:hover {
  opacity: 0.7;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.sidebar ul li a:hover {
  color: #00bcd4;
}

.button {
  display: inline-block;
  background-color: black;
  padding: 1rem 5rem;
  font-weight: 600;
  border-radius: .5rem;
  transition: opacity .3s linear;
}

.button:hover {
  opacity: .7;
}

.home__button {
  width: 100%;
}

.content__title {
  font-size: var(--h1-font-size);
  margin: 0 0 40px;
  text-align: center;
}

.about {
  margin: var(--header-height);
}

.about__container {
  display: flex;
}

.about__data {
  text-align: center;
  max-width: 450px;
}

.about__description {
  margin-bottom: var(--mb-4);
  display: flex;
  justify-content: center;
}

.about__information {
  margin-bottom: var(--mb-4);
  margin-top: 40px;
}

.about__img {
  width: 100%;
}

.about__information-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-2);
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.about__information-data {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: var(--mb-3);
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.about__flex {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.about__information-icon {
  font-size: 1.5rem;
  margin-right: var(--mb-4);
}

.about .about__container h4 {
  margin: 0;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  font-size: var(--h3-font-size);
  color: #333;
}

.about .about__container h4 span {
  font-weight: 700;
  color: #00bcd4;
}

.about .about__container h2 {
  font-size: var(--h1-font-size);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  line-height: 1em;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  width: 80%;
  max-width: 1330px;
  margin: 0 auto;
}

.tricks {
  margin: 100px 0;
}

.project {
  background-position: center center;
  background-size: cover;
  object-fit: contain;
}


.project__overlay::before {
  display: block;
  content: '';
  padding-bottom: 50%;
}

.project_name_how-to-study {
  background-image: url(../image/how-to-study.png);
}

.project_name_parallax {
  background-image: url(../image/parallax.png);
}

.project_name_calculator {
  background-image: url(../image/Calculator.png);
}

.project_name_video-slider {
  background-image: url(../image/slider.png);
}

.project_name_across-russia {
  background-image: url(../image/across-russia.png);
}

.project_name_petr {
  background-image: url(../image/avatar.png);
}

.project_name_mediathek {
  background-image: url(../image/mediateka.png);
}

.project_name_mesto {
  background-image: url(../image/mesto.png);
}

.project_name_shop {
  background-image: url(../image/shop.png);
}

.project__overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  opacity: 0;
  position: relative;
}

.project__overlay:hover {
  opacity: 1;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 0;
  padding: 0 35px;
}

.footer__title{
  font-size: var(--h1-font-size);
}

/* .footer__description {
  margin-bottom: var(--mb-2);
} */

.footer__copy {
  font-size: var(--smaller-font-size);
  color: #666565;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .home__button {
    width: initial;
  }

  .about__data {
    text-align: initial;
  }

  .about__description {
    margin-bottom: var(--mb-5);
  }
}

@media screen and (max-width: 875px) {

  .about__container {
    flex-wrap: wrap;
  }

  .about__data {
    margin: 0 auto;
  }

  .about__text {
    margin-top: 30px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    width: 90%;
  }

  
} 